html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}








body {
    background-color: black;
    font: 16px/28px arial, sans-serif;
    z-index: -9999;
}


.header {
    
    text-align: right;
    margin-right: 120px;
    margin-top: -600px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position:absolute;
    display: inline-block;
    right: 110px;
    bottom: 473px;
    
  }


.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

.header ul li {
    display: inline-block;
    margin-top: 35px;
    margin-right: 0px;
    padding: 20px;
}

.header ul {
    display: inline-block;
    margin-right: 100px;

}
.header a {
    text-decoration: none;
    color: whitesmoke;
    padding: 1px;
    font-size: 15px;
}

.header a:hover {
    color: grey;
}

.hero {
    width: 495px;
    height: 542px;
    margin-top: 100px;
    background-image: url(hero.jpg);
    background-repeat: no-repeat;
    background-position: 0 -20;
    
}

.content h2 {
    color: white;
    margin: auto;
    margin-left: 550px;
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.content h4 {
    color: white;
    margin: auto;
    margin-left: 550px;
    font-size: 17px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    
}

.content h5 {
    color: white;
    margin: auto;
    margin-left: 550px;
    font-size: 15px;
    margin-bottom: 234px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.content .ig {
    width: 200px;
    height: 200px;
    background-image: url(instagram.png);
    background-repeat: no-repeat;
    display: inline-block;
    z-index: 1;
    text-indent: -9999px;
    position: absolute;
    left: 550px;
    bottom: 40px;
}

.content .yt {
    width: 150px;
    height: 150px;
    background-image: url(yt.png);
    background-repeat: no-repeat;
    display: inline-block;
    z-index: 1;
    text-indent: -9999px;
    position: absolute;
    left: 650px;
    bottom: 104px;
}




.container {
    width: 1200px;
}
.container h2 {
    color: white;
    margin: auto;
    margin-left: 800px;
    margin-bottom: 10px;
    font-size: 17px;
    
}

.container h4 {
    color: white;
    margin: auto;
    margin-left: 550px;
    font-size: 14px;
    margin-bottom: 100px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

hr { display: block;overflow: hidden; border-style: inset; border-width: 1px;
margin-left: 565px;
margin-right: 13px;}

.footer {
    background-color: #202020;
    padding: 10px;
}
    

.footer .copy {
    text-align: center;
    color: gray;
    font-size: 12px;
}
